@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Roboto:wght@300&display=swap');

main {
    width: 100vw;
    height: 690px;
    background-image: url(netflixbackground.jpg);
    background-position: center center;
}

.shadow {
    width: 100vw;
    height: 690px;
    position: absolute;
    background: black;
    filter: opacity(0.64);
}

.main {
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    margin: 0px 12vw;
}

#select {
    padding: 5px;
    background: none;
    background-color: black;
    filter: opacity(0.66);
    width: 135px;
    height: 35px;
    font-size: 17px;
    border-radius: 5px;
    color: #f8f8f8;
    text-align: center;
}

.signin {
    background-color: #e50914;
    height: 35px;
    width: 80px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.nav div:nth-child(2) {
    display: flex;
    gap: 20px;
}

.center {
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 15vw;
    gap: 20px;
}

.center div:first-child p {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 900;
}

.center div:nth-child(2) {
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 100;
}

.center div:nth-child(3) {
    color: white;
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: 100;
}

.center div:nth-child(4) {
    display: flex;
    gap: 10px;
}

.email1 {
    display: grid;
    grid-template-rows: [1] 1fr [2];
}

label {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 20px;
    margin-left: 10px;
    color: #ffffff;
    font-family: sans-serif;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-property: top, font-size, line-height;
    transition-duration: 250ms;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}

input {
    padding: 25px 0px 5px 10px;
    grid-row: 1/2;
    grid-column: 1/2;
    background: none;
    width: 30em;
    border: none;
    border: 2px solid #ffffff;
    border-radius: 5px;
    height: 1.8em;
    background-color: black;
    filter: opacity(.44);
    color: white !important;

}

.getstartedbtn {
    color: white;
    font-size: 1.5rem;
    background-color: #e50914;
    width: 8em;
    border: none;
    border-radius: 5px;
    height: 3.5rem;
}

.seperation {
    height: 10px;
    width: 100vw;
    background-color: #232323;
}

.box1 {
    background-color: black;
    width: 100vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 div:first-child {
    color: white;
}

.box1 div:nth-child(2) {
    color: white;
}

.box1 img {
    margin-left: 80px;
    margin-right: 80px;
}

h1 {
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 900;
    margin: 0px 225px;

}

p {
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 15px;
    margin: 0px 225px;
}

.tv {
    display: grid;
    grid-template-rows: [1] 1fr[2];
}

#vid1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

#tv1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

#tv2 {
    grid-row: 1/2;
    grid-column: 1/2;
}

iframe {
    margin-left: 165px;
    margin-top: 80px;
    width: 465px;
}

.frame2 {
    width: 390px;
    height: 200px;
    margin-left: 200px;
    margin-top: 55px;
}

.box2 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    height: 80px;
    font-family: sans-serif;
    font-size: 30px;
    padding: 5px 30px;
    margin-top: 20px;
    background-color: #232323;
    width: 60vw;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

:hover.question {
    background-color: rgb(66, 66, 66);
}

.frequently {
    background-color: black;
    color: white;
    font-size: 3rem;
    text-align: left;
    margin: 30px 0px;
    font-family: sans-serif;

}

footer {
    background-position: center center;
    background-color: black;
    font-size: medium;
    color: white;
    font-family: sans-serif;
    padding: 20px 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

footer div {
    margin-top: 20px;
}

footer div a {
    color: #8e8e8e;
}

.netflixindia {
    color: #8e8e8e;
    padding-top: 30px;
    margin-left: 0px;
}